body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	color: #666;
	background: #302f2f;
}

a:link, a:visited { color: #000000; text-decoration: underline; font-weight: normal;} 
a:active, a:hover { color: #006699; text-decoration: none;}

p {
	margin: 0px;
	padding: 0px;
}

.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }

.margin_right_20 { margin-right: 20px; }
.margin_right_70 { margin-right: 70px; }

.fl { float: left; }
.fr { float: right }


.header_02 {
	clear: both;
	padding-bottom: 10px;
	margin-bottom: 15px;
	font-size: 20px;
	color: #000000;
	font-variant:small-caps;	
	border-bottom: 1px solid #afa0a0;
}


.header_04 {
	clear: both;
	display: block;
	height: 20px;
	padding: 3px 10px 0 40px;
	color: #ffffff;
	background: url(images/templatemo_header_04_bg.jpg) no-repeat
}



#templatemo_top_bar_wrapper {
	width: 100%;
	height: 55px;
	margin: 0 auto;
	background: url(images/templatemo_top_panel_bg.jpg) repeat-x;
}




#templatemo_banner_wrapper {
	clear: both;
	width: 100%;
	height: 245px;
	margin: 0 auto;
	background: url(images/templatemo_banner_repeat.jpg) repeat-x;
}

#templatemo_banner {
	width: 920px;
	height: 245px;
	padding: 0 30px;
	margin: 0 auto;
	background: url(images/templatemo_banner_bg.jpg) repeat-x;
}

#templatemo_site_title_section {
	float: left;
	width: 320px;
	height: 245px;
	background: url(images/templatemo_site_title_bg.jpg) no-repeat;
}


/* menu */

#templatemo_menu_wrapper {
	clear: both;
	width: 100%;
	height: 51px;
	margin: 0 auto;
	background: url(images/templatemo_menu_bg.jpg) repeat-x;
}



#templatemo_menu ul li{
	padding: 0px;
	margin: 0px;
	display: inline;
	background: url(images/templatemo_menu_divider.jpg) right repeat-y;
}

/* fim menu */

/* centro*/

#templatemo_content_wrapper {
	clear: both;
	width: 100%;
	margin: 0 auto;
	padding: 30px 0;
	background: #302f2f;
}

#templatemo_content{
	position: relative;
	width: 840px; 
	margin: 0 auto;
	padding: 30px 70px;
	background: url(images/templatemo_content_middle.jpg) repeat-y;
}

#top {
	width: 980px;
	height: 11px;
	margin: 0 auto;
	background: url(images/templatemo_content_top.jpg) no-repeat;
}

#bottom {
	width: 980px;
	height: 11px;
	margin: 0 auto;
	background: url(images/templatemo_content_bottom.jpg) no-repeat;
}

.column_w380_left{
	float: left;
	width: 380px;
	padding-right: 39px;
	margin-right: 40px;
	border-right: 1px solid #bcb0b0;
}

.column_w380_right {
	float: right;
	width: 380px;
}

.content_list_01 li {
	margin: 0 0 0 30px;
	padding: 0 0 10px 10px;
	list-style-image:url(images/templatemo_list_icon.jpg);	
}

.section_w180 {
	width: 180px;
	background: #191818;
}

.section_w180 img {
	margin: 5px;
	width: 168px;
	height: 84px;
	border: 1px solid #c8c9c8;
}

.section_w180 p {
	padding: 5px 10px 10px 10px;
	color: #a6a6a6;
}


/* fim centro*/

/* fundo */

#templatemo_footer_wrapper {
	width: 100%;
	margin: 0 auto;
	background: #191818;
	border-top: 1px solid #4d4848;
}

#templatemo_footer {
	width: 920px;
	padding: 30px;
	margin: 0 auto;
	color: #515251;
}
