body {
	background-repeat: no-repeat;
	}
#box1 {
		position:absolute;
		top: 90px;
		margin-left: 35%;
		width: auto;
		
	}
#box2 {
		position:absolute;
		top: 278px;
		left: 42%;
		z-index: 0;
		
	}
#box3 {
		position:absolute;
		top: 65%;
		left: 25%;
		z-index: 1;
		
	}	
.mensagem-erro {
    color: red;
	font-size: 21px;
}
.users {
	font-family: "Courier New", Courier, monospace;
	font-size: 23px;
	font-style: bold;
	color: #666666;
}
.novasenha {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #333;
}
.nomeuser {
    color: #0F6;
	font-size: 18px;
}